body {
  margin: 0 !important;
}

.give-embed-form,
.give-embed-receipt {
  background: transparent;
  box-shadow: none;
}

/* Hide the navigation - it's not needed. */
.give-form-navigator {
  display: none !important;
  background: transparent;
  border: 0;
}

.give-section {
  padding: 0 !important;
}

.introduction .income-stats {
  background: transparent;
}

.progress-bar {
  border: 0;
}

/* Hide the "secure website" notice. It provides no value. */
.secure-notice {
  display: none !important;
}

.image img {
  border-radius: 10px;
}

/* Hide the blurb. We can easily add our own. */
.choose-amount .content {
  display: none !important;
}

.choose-amount .give-donation-amount {
  box-shadow: none !important;
}
