/*
 Theme Name:     Soapbox Divi
 Theme URI:      https://gitlab.com/soapbox-pub/soapbox-divi
 Description:    Soapbox WordPress child theme based on Divi
 Author:         Soapbox Social Media Server
 Author URI:     https://soapbox.pub/
 Template:       Divi
 Version:        1.0.0
*/

/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('./fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('./fonts/Lato/Lato-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* CSS variables */
:root {
  --brand-color: #0482d8;
}

/* Make site background blue */
body {
  background: var(--brand-color);
  margin: 0;
}

/* Hide the topnav drop shadow */
#main-header#main-header {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

/* Make site content background grey */
#main-content#main-content,
footer.et-l.et-l--footer {
  background-color: #f2f2f2;
}

.et_pb_section {
  background: transparent;
}

/* Hide shopping card icon in topnav */
.et-cart-info {
  display: none !important;
}

/* Typographical styles for blog posts and articles */
#content-area p,
.typographical p {
  max-width: 700px;
}

#content-area h1,
.typographical h1 {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#content-area h2,
.typographical h2 {
  font-size: 30px;
  margin-top: 60px;
  font-weight: bold;
  color: var(--brand-color);
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

#content-area h3,
.typographical h3 {
  display: block;
  font-size: 24px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

#content-area .wp-block-image img,
.typographical .wp-block-image img {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
}

#content-area li,
.typographical li {
  line-height: 1.7;
  max-width: 700px;
  margin-bottom: 10px;
}

.wp-block-code code {
  font-family: monospace;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 6px;
  overflow-y: hidden;
}

pre {
  padding: 0;
}

/* Hide sidebar line */
.et_right_sidebar #main-content .container:before {
  display: none;
}

/* Blog: use a grid layout */
.blog-fullwidth-grid .et_pb_ajax_pagination_container,
.et_pb_blog_grid .et_pb_salvattore_content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.et_pb_blog_grid .column {
  width: auto !important;
  margin: 0 !important;
}

.et_pb_blog_grid .et_pb_image_container {
  margin: 0;
}

/* Blog: featured image */
.blog-fullwidth-grid .et_pb_post a img,
.et_pb_blog_grid .et_pb_image_container img {
  border-radius: 8px;
  overflow: hidden;
}

.et_pb_post .entry-featured-image-url {
  margin-bottom: 18px;
}

/* Blog: transparent card */
.blog-fullwidth-grid .et_pb_post,
.et_pb_blog_grid .et_pb_post {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* Blog: title */
.blog-fullwidth-grid h2,
.et_pb_blog_grid h2 {
  color: var(--brand-color);
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* Blog: meta */
.blog-fullwidth-grid .post-meta,
.et_pb_blog_grid .post-meta {
  opacity: 0.6;
  font-size: 16px !important;
  margin: 2px 0;
  line-height: normal;
}

/* Blog: excerpt */
.blog-fullwidth-grid .post-content p,
.et_pb_blog_grid .post-content p {
  font-size: 16px !important;
  line-height: normal;
  margin-top: 18px;
}

/* Give: iframe loader */
.give-embed-form-wrapper .iframe-loader > div {
  background: transparent !important;
  box-shadow: none !important;
}
